@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body{
  margin:0;

}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
.clip-triangle {
  clip-path: polygon(60% 0%, 40% 100%, 100% 100%);
}
.clip-trapezium {
  clip-path: polygon(50% 10%,100% 15%,100% 100%,0% 100%);
}

.front-page{
  height:100vh;
  aspect-ratio:3/2;
  display:flex;
  align-items:center;
  justify-content:center;
 background-color: #3b3d40;


}
.clip-lamp-light {
  /* position:relative; */
  background-position: center;
  background-color: rgba(208, 205, 205, 0.31);
  background-image: url('/noise.svg');
  mask-image: radial-gradient(
    circle at 48% 52%,
    white 2%,
    transparent 20%
  );
  clip-path: polygon(42% 38%, 43.5% 37.4%, 46.3% 42%, 47.7% 36.3%, 49% 36%, 61.5% 56%, 53% 78%, 30% 84%);
  /* top: 3.5rem; */
  /* right: 3rem;  */
  width: 100%;
  height: 100%;

  animation: lampFlicker 10s linear infinite;
}

.fire-place-red{
  clip-path: polygon(53% 64%, 53.7% 63.4%, 53.3% 62%, 51.7% 56.3%, 55% 53%, 54.5% 50%, 77% 51%,78% 56%, 64% 55%, 59% 54%, 56% 65%);
  z-index:100;

mask-image: radial-gradient(
    circle at 60% 64%,
    white 3%,
    transparent 14%
  );
  background-color: rgba(216, 85, 42, 0.31);
  animation: redFlicker 70s linear infinite;
}
.fire-place-yellow{
  clip-path: polygon(53% 64%, 53.7% 63.4%, 53.3% 62%, 53.7% 56.3%, 53% 53%, 56.5% 50%, 65% 51%, 64% 55%,59% 54%,56% 65%);
  z-index:101;

mask-image: radial-gradient(
    circle at 59% 68%,
    white 3%,
    transparent 14%
  );

  background-color: rgba(228, 167, 24, 0.31);
  animation: yellowFlicker 30s linear infinite;

}

.websiteTitle {
  font-family: 'Meshed-Display', sans-serif;
  position:fixed;
  font-size: 2.5rem;
  color: white;
  top: 1rem;
  left: 1rem;
  text-shadow: 0 0 10px var(--color-primary), 0 0 20px var(--color-primary), 0 0 30px var(--color-primary);}

@keyframes lampFlicker {
  0% {
  background-color: rgba(250, 250, 250, 0.1);

  }
  1% {
  background-color: rgba(250, 250, 250, .3);

  }
  1.001% {
  background-color: rgba(250, 250, 250, 0.4);

  }
  10% {
  background-color: rgba(250, 250, 250, 0.01);

  }
  11.001% {
  background-color: rgba(250, 250, 250, 0.4);

  }
  11.005% {
  background-color: rgba(242, 231, 193, 0.4);

  }
  12.005% {
  background-color: rgba(250, 250, 250, 0.4);
  }
  13.005% {
  background-color: rgba(250, 250, 250, 0);


  }
  14.005% {
  background-color: rgba(250, 250, 250, 0.49);


  }
  14.405% {
  background-color: rgba(250, 250, 250, 0.28);

  }
  30% {
  background-color: rgba(250, 250, 250, 0.34);

  }
  35% {
  background-color: rgba(250, 250, 250, 0.24);

  }
  42.005% {
  background-color: rgba(250, 250, 250, 0.4);
  }
  43.005% {
  background-color: rgba(250, 250, 250, 0);


  }
  44.005% {
  background-color: rgba(250, 250, 250, 0.12);


  }
  54.405% {
  background-color: rgba(250, 250, 250, 0.28);

  }
  74.405% {
  background-color: rgba(250, 250, 250, 0);

  }
  94.405% {
  background-color: rgba(250, 250, 250, 0.4);

  }
 

}

@keyframes yellowFlicker {
  0% {
  background-color: rgba(228, 167, 24, 0.31);
  }
  1% {
  background-color: rgba(228, 167, 24, .3);

  }
  1.001% {
  background-color: rgba(228, 167, 24, 0.4);

  }
  10% {
  background-color: rgba(228, 167, 24, 0.01);

  }
  11.001% {
  background-color: rgba(228, 167, 24, 0.4);

  }
  11.005% {
  background-color: rgba(228, 167, 24, 0.4);

  }
  12.005% {
  background-color: rgba(228, 167, 24, 0.4);
  }
  13.005% {
  background-color: rgba(228, 167, 24, 0);


  }
  14.005% {
  background-color: rgba(228, 167, 24, 0.49);


  }
  14.405% {
  background-color: rgba(228, 167, 24, 0.28);

  }
  30% {
  background-color: rgba(228, 167, 24, 0.34);

  }
  35% {
  background-color: rgba(228, 167, 24, 0.24);

  }
  42.005% {
  background-color: rgba(228, 167, 24, 0.4);
  }
  43.005% {
  background-color: rgba(228, 167, 24, 0);


  }
  44.005% {
  background-color: rgba(228, 167, 24, 0.12);


  }
  54.405% {
  background-color: rgba(228, 167, 24, 0.28);

  }
  74.405% {
  background-color: rgba(228, 167, 24, 0);

  }
  94.405% {
  background-color: rgba(228, 167, 24, 0.4);

  }


}
@keyframes redFlicker {
  0% {
  background-color: rgba(216, 85, 42, 0.31);
  }
  1% {
  background-color: rgba(216, 85, 42, .3);

  }
  1.001% {
  background-color: rgba(216, 85, 42, 0.4);

  }
  10% {
  background-color: rgba(216, 85, 42, 0.01);

  }
  11.001% {
  background-color: rgba(216, 85, 42, 0.4);

  }
  11.005% {
  background-color: rgba(216, 85, 42, 0.4);

  }
  12.005% {
  background-color: rgba(216, 85, 42, 0.4);
  }
  13.005% {
  background-color: rgba(216, 85, 42, 0);


  }
  14.005% {
  background-color: rgba(216, 85, 42, 0.49);


  }
  14.405% {
  background-color: rgba(216, 85, 42, 0.28);

  }
  30% {
  background-color: rgba(216, 85, 42, 0.34);

  }
  35% {
  background-color: rgba(216, 85, 42, 0.24);

  }
  42.005% {
  background-color: rgba(216, 85, 42, 0.4);
  }
  43.005% {
  background-color: rgba(216, 85, 42, 0);


  }
  44.005% {
  background-color: rgba(216, 85, 42, 0.12);


  }
  54.405% {
  background-color: rgba(216, 85, 42, 0.28);

  }
  74.405% {
  background-color: rgba(216, 85, 42, 0);

  }
  94.405% {
  background-color: rgba(216, 85, 42, 0.4);

  }


}
.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@font-face {
  font-family: 'Meshed-Display';
  src: url('/fonts/OpenType-TT/MeshedDisplay-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}